<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Travel Blog</title>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io({transports: ['websocket']}); //prevents socket io from long polling

        socket.on('newComment', (comment) => {
            console.log(comment);

            // Get the container where the HTML for the comment is meant to go.

            const commentsContainer = document.getElementById('comments-for-' + comment.post_id);

            // Create a new comment HTML block.

            let buffer = '<div id="comment-'+comment._id+'"><p style="border: 1px solid #AAA;padding: 5px;border-radius: 5px;"><b>'+comment.username+'</b> commented: '+comment.comment+'</p>';

            if (comment.user_id === '{{user_id}}') {

                buffer += '<div class="form-group" style="text-align: center;">';
                buffer += '<input type="button" class="delete" value="Delete Your Comment" onclick="deleteComment(\''+comment._id+'\', \'{{csrf}}\',socket)">';
                buffer += '</div>';
            }

            buffer += '<div class="container" style="width: 30%;text-align: left;margin-top: 10px;">';
            buffer += 'Reports:';
            buffer += '<p><i>No reports for comment</i></p>';
            buffer += '</div>';

            buffer += '<div>';
            buffer += '<label for="reportComment">Add report:</label><br>';
            buffer += '<textarea name="reportComment" id="reportComment-"'+comment._id+'></textarea><br>';
            buffer += '<input type="button" value="Report" onclick="addReportToComment(\''+comment._id+'\', \'{{csrf}}\');">';
            buffer += '</div>';

            buffer += '</div>';

            commentsContainer.innerHTML += buffer;
        });

        socket.on('deleteComment', (commentId) => {
            console.log(commentId);

            const comment = document.getElementById('comment-' + commentId);

            if (comment !== undefined && comment !== null) {



                comment.remove();
            }
        });
    </script>
</head>
<body>
    <div class="header">
        <div class="container form-group" style="text-align: center;">

            {{#if username}}
                <p>Welcome, {{{username}}}!</p>
                <input type="button" value="Logout" onclick="window.location.href='/logout';">
            {{else}}
                <input type="button" value="Login" onclick="window.location.href='login.html';">
                <input type="button" value="Register" onclick="window.location.href='registration-form.html';">
            {{/if}}

        </div>
    </div>
    
    {{#if username}}
    
    <div class="container">
        {{!-- <div class="form-group">
            <input type="button" value="Return to Home" onclick="window.location.href='/';">
        </div> --}}
        <h1>Create a new Post!</h1>
        <form id="post-form" enctype="multipart/form-data">

            <div class="form-group">
                <label for="title">Title: </label> 
                <input type="text" id="title" name="title" value="Title of the blog post" required><br><br>
            </div>

            <div class="form-group">
                <label for="banner">Banner: </label> 
                <input type="file" id="banner" name="banner" accept="image/*"><br><br>
            </div>

            <div class="form-group">
                <label for="content">Content: </label>
                <input type="text" id="content" name="content" value="The primary body of the blog post." required><br><br>
            </div>

            <div class="form-group">
                <label for="blurb">Blurb: </label>
                <input type="text" id="blurb" name="blurb" value="A short blurb under the title" required> <br><br>
            </div>

            <div class="form-group">
                <input type="submit" value="Send Post">
            </div>
            
        </form>
    </div>

    <script>
        function ShowAllPosts(posts){
            const postContainer = document.getElementById('post-container');
            postContainer.innerHTML='';

            posts.forEach(post => {
                const postElement = document.createElement('div');
                postElement.classList.add('post');

                const titleElement = document.createElement('h2');
                titleElement.textContent = post.title;

                postElement.appendChild(titleElement);
                postElement.appendChild(document.createElement('br'));
                postElement.appendChild(document.createElement('br'));

                postContainer.appendChild(postElement);
            });
        }
    </script>

    <script>
        document.getElementById('post-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData();
            formData.append('title', document.getElementById("title").value);
            formData.append('banner', document.getElementById("banner").files[0]);
            formData.append('content', document.getElementById("content").value);
            formData.append('blurb', document.getElementById("blurb").value);
            formData.append('csrfToken', '{{csrf}}');

            fetch('/api/v1/posts/', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    console.log('response not ok?');
                    throw new Error('RESPONSE NOT OK');
                }
                console.log('response ok');
                return response.json();
            })
            .then(data => {
                console.log('Success', data);
                alert('POST CREATED!');
                window.location = '/';
            })
            .catch(error =>{
                console.error('Error', error);
                alert('There was an error, try again')
            });
        });

    </script>
        
    <script>
        document.addEventListener('post-success', function(event) {
            event.preventDefault();

            fetch('/api/v1/posts', {
                method: 'GET'
            })
            .then(response => {
                if (!response.ok) {
                    console.log('response not ok?');
                    throw new Error('RESPONSE NOT OK');
                }
                console.log('response ok');
                return response.json();
            })
            .then(data => {
                console.log('Success', data);
                alert('Showing posts');
                ShowAllPosts(data);
            })
            .catch(error =>{
                console.error('Error', error);
                alert('There was an error, try again')
            });
        }); 
    </script>
{{!-- 
        <div class="container form-group" style="text-align: center;">
            <input type="button" class="create" value="Create Post" onclick="window.location.href='postpage.html';">
        </div> --}}
    {{/if}}

    <div class="post-container">

        {{#if posts}}

            {{#each posts}}
                <div class="container post">
                    <h2>{{{this.title}}}</h2>
                    <p>{{{this.blurb}}}</p>
                    <h3>By {{{this.user.username}}}</h3>

                    {{#if this.banner}}
                        <img src="{{this.banner}}">
                    {{/if}}

                    <p>{{{this.content}}}</p>
                    <h3>Comments</h3>
                    {{#if ../username}}
                        <div class="container">
                            <label for="addComment">Add comment:</label><br>
                            <textarea name="addComment" id="addComment-{{this._id}}"></textarea><br>
                            <input type="button" value="Comment" onclick="addCommentToPost('{{this._id}}', '{{../csrf}}',socket)">
                        </div>
                    {{/if}}
                    <div class="container" id="comments-for-{{this._id}}">

                        {{#if this.comments}}
                        
                            {{#each this.comments}}
                                <div id="comment-{{this._id}}">
                                    <p style="border: 1px solid #AAA;padding: 5px;border-radius: 5px;"><b>{{{this.user.username}}}</b> commented: {{{this.comment}}}</p>
                                    
                                    {{#objectIdEquals ../../user_id this.user_id}}

                                        <div class="form-group" style="text-align: center;">
                                            <input type="button" class="delete" value="Delete Your Comment" onclick="deleteComment('{{this._id}}', '{{../../csrf}}',socket)">
                                        </div>

                                    {{/objectIdEquals}}

                                    <div class="container" style="width: 30%;text-align: left;margin-top: 10px;">

                                        {{#if this.reports}}
                                            Reports:

                                            <ul>
                                                {{#each this.reports}}
                                                    <li><b>{{{this.reporter.username}}}</b>: {{{this.report}}}</li>
                                                {{/each}}
                                            </ul>
                                        {{else}}
                                            <p><i>No reports for comment</i></p>
                                        {{/if}}
                                        {{#if ../../username}}
                                            <div>
                                                <label for="reportComment">Add report:</label><br>
                                                <textarea name="reportComment" id="reportComment-{{this._id}}"></textarea><br>
                                                <input type="button" value="Report" onclick="addReportToComment('{{this._id}}', '{{../../csrf}}');">
                                            </div>
                                        {{/if}}
                                    </div>
                                </div>
                            {{/each}}
                        {{else}}
                            <p><i>No comments on post</i></p>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class="container post">
                <p><i id="js-placeholder"></i></p>
            </div>
        {{/if}}
    </div>
		
    <script src="/js/home.js"></script>

  
    
</body>
</html>
