<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="home.css"> -->
    <title>Login Page</title>

    <style>
        body {
			width: 100%;
			height: 100vh;
			margin: 0px;
            background-image: url('image/hotait.jpg');
            background-size: cover;
            background-position: center;
			background-repeat: no-repeat;
			background-attachment: fixed;
            font-family: Arial, sans-serif;
        }
		
		.header {
			padding: 20px;
		}

        .container {
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			margin-left: auto;
			margin-right: auto;
        }
		
		.post {
			text-align: center;
			margin-bottom: 40px;
		}
		
		.post img {
			max-height: 300px;
		}
		
		body > .container {
			width: 80%;
		}

        .container h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input[type="text"],
        .form-group input[type="password"] {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .form-group input[type="submit"],
        .form-group input[type="button"] {
            width: 49%;
            padding: 10px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .form-group input[type="submit"] {
            background-color: #007bff;
            color: #fff;
        }

        .form-group input[type="submit"]:hover {
            background-color: #0056b3;
        }

        .form-group input[type="button"] {
            background-color: #007bff;
            color: #fff;
        }

        .form-group input[type="button"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="form-group">

            {{#if username}}
                Welcome, {{username}}!
                <input type="button" value="Logout" onclick="window.location.href='/logout';">
            {{else}}
                <input type="button" value="Login" onclick="window.location.href='login.html';">
                <input type="button" value="Register" onclick="window.location.href='registration-form.html';">
            {{/if}}

        </div>
    </div>
    <div class="post-container">

        {{#each posts}}
            <div class="container post">
                <h2>{{this.title}}</h2>
                <h3>By {{this.user.username}}</h3>
                <img src="{{this.banner}}">
                <p>{{this.blurb}}</p>
                <h3>Comments</h3>
                {{#if username}}
                    <div class="container">
                        <label for="addComment">Add comment:</label><br>
                        <textarea name="addComment" id="addComment-{{this._id}}"></textarea><br>
                        <input type="button" value="Comment" onclick="addCommentToPost('{{this._id}}');">
                    </div>
                {{/if}}
			    <div class="container">
                    
                    {{#each this.comments}}
                        <p><b>{{this.user.username}}</b>: {{this.comment}}</p>
                        <div class="container" style="width: 30%;text-align: left;margin-top: 10px;">
                            Reports:

                            <ul>
                                {{#each this.reports}}
                                    <li><b>{{this.reporter.username}}</b>: {{this.report}}</li>
                                {{/each}}
                            </ul>
                            {{#if username}}
                                <div>
                                    <label for="reportComment">Add report:</label><br>
                                    <textarea name="reportComment" id="reportComment-{{this._id}}"></textarea><br>
                                    <input type="button" value="Report" onclick="addReportToComment('{{this._id}}');">
                                </div>
                            {{/if}}
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
		
    <script>
        function addCommentToPost(postId) {

            const data = {};
            const comment = document.getElementById('addComment-' + postId);

            data.comment = comment.value;
        
            fetch('/api/v1/posts/' + postId + '/comments',{
                method:'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('RESPONSE NOT OK');
                }
                console.log('response ok');
                return response.json();
            })
            .then(data => {
                console.log('Success', data);
                alert('Comment created!');
                window.location = '/';
            })
            .catch(error =>{
                console.error('Error', error);
                alert('Failed to create comment');
            });
        }

        function addReportToComment(commentId) {

            const data = {};
            const report = document.getElementById('reportComment-' + commentId);

            data.report = report.value;
        
            fetch('/api/v1/comments/' + commentId + '/report',{
                method:'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('RESPONSE NOT OK');
                }
                console.log('response ok');
                return response.json();
            })
            .then(data => {
                console.log('Success', data);
                alert('Report created!');
                window.location = '/';
            })
            .catch(error =>{
                console.error('Error', error);
                alert('Failed to create report');
            });
        }
    </script>
</body>
</html>
